.text-container {
    padding: 10px;
    height: 20vh;
    background-image: linear-gradient(80deg, #201A35, #342f3f);
    font-family: 'poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  10px;
    box-shadow: 12px 12px 22px #CFCFD3;
}

.text-ul {
    display: flex;
}

.text-li {
list-style: none;
}

.text-div {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 20px;
    color: palevioletred;
    text-shadow: 0 0 15px palevioletred, 0 0 25px palevioletred;
    animation: text 1.5s linear infinite;
}

@keyframes text {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}