.intro {
  display: flex;
  height: 100vh;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-weight: bold;
}
.intro-left {
  flex: 1;
  display: flex;
  align-items: center;
}
.intro-right {
  flex: 1;
  position: relative;
}

.intro-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LEFT SIDE */
.intro-hello {
  font-family: 'DotGothic16', sans-serif;
  padding: 5px;
  font-size: 30px;
  font-weight: 250;
}

.intro-name {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
}

.intro-title {
  font-family: 'DotGothic16', sans-serif;
  padding: 5px;
  height: 90px;
  font-size: 25px;
  font-weight: bold;
  color: var(--second-color);
}

.intro-technos {
  padding: 5px;
  height: 90px;
  font-size: 25px;
  font-weight: bold;
  color: var(--second-color);
  animation-name: slideIn;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-iteration-count: 1;
}

.intro-description {
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

@keyframes slideIn {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(150px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* RIGHT SIDE */
.intro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.intro-bg {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  background-color: var(--third-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: var(--third-color);
}

.intro-social-medias {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 50px;
}

.intro-linkedin-img {
  width: 60px;
  height: 60px;
  animation: pulse 2s infinite;
}

.intro-github-img {
  width: 60px;
  height: 60px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.90);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.90);
	}
}

.intro-linkedin {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  filter: drop-shadow(0 0 0.75rem #a3cef1);
}

.intro-github {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  filter: drop-shadow(0 0 0.75rem #a3cef1);
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
  }
  .intro-left {
    /* padding: 10px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .intro-description {
    display: none;
  }

  .intro-right {
    flex-direction: column;
  }

  .intro-img {
    display: none;
  }
  .intro-bg {
    display: none;
  }

  .intro-social-medias {
    margin-top: 2px;
  }
  .intro-github-img, .intro-linkedin-img {
    display: none;
  }
}
