.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: var(--color-dark);
    clip-path: circle(25px at calc(100% - 45px) -66px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 99;
    left: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--color-light);
    cursor: pointer;
    background: var(--color-dark);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: var(--color-light);
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    right: 60%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: left;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: var(--color-light);
    border-radius: 50px;
    background: var(--color-dark);
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background:var(--color-light);
     background: var(--third-color);
    width: 104%;
    height: 110%;
    right: -2%;
    top: -5%;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: var(--color-light);
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: var(--color-dark);
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }

  @media screen and (max-width: 480px) {
 .wrapper {
  display: none;
 }
 .menu-btn {
  display: none;
 }
  }
  
  
  