@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
:root {
  --color-light: #f9f8fd;
  --color-dark: #141414;
  --first-color: #76d7c4;
  --second-color: pink;
  --third-color: #b6b1ab;
}
